@page "/"

<PageTitle>Home</PageTitle>


<PageHeader>
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Hello, world!
                </h2>
            </div>
        </div>
    </div>
</PageHeader>

<PageBody>
    Welcome to your new app.
</PageBody>
