<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        @ChildContent
    </div>
</div>

@code {
    // ChildContent parametresi
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}